<li class="films-list__item">
    <a class="films-list__link link" href="#">
        <div class="films-list__img-box">
            <img class="films-list__img" src="{{imgSrc}}" alt="{{title}} poster" />
        </div>
        <div class="films-list__content">
            <h2 class="films-list__title">{{title}}</h2>
            <p class="films-list__genre">{{genre}}| {{releaseDate}} <span class="films-list__rating">{{rating}}</span>
            </p>
        </div>
    </a>
</li>